<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Suppression</title>
    <link rel="stylesheet" href="/Assets/CSS/style.css" type="text/css">
</head>

<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="/users">Users</a>
        </nav>
    </header>
    <h3>User <%= name %> has been deleted</h3>
    <a href="/users">Back</a>
</body>

</html>